boto3
botocore
Brotli
certifi
chardet
click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
docutils
Flask
Flask-Caching
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
numpy
pandas
Pillow
plotly
python-dateutil
python-dotenv
pytz
redis
requests
retrying
s3transfer
scipy
six
urllib3
Werkzeug
